#myTable, #myHeaderTable{
    width:35%;
}
#myTable, #myTable td, #myTable tr, #myHeader, #myHeaderTable tr {
    border-bottom: 2px solid black;
    padding: 10px;
    font-size: 15px;
}
th{
    text-align:center;
}
#myTable td, #myTable tr, #myHeader, #myHeaderTable tr{
    text-align: center;
}
#TopTable td{
    padding-left:40px;
    padding-top:10px;
}

.cs-tooltip  {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.cs-tooltip .cs-tooltiptext {
    visibility: hidden;
    width: 600px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 99;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.cs-tooltip .cs-tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.cs-tooltip:hover .cs-tooltiptext {
    visibility: visible;
}

.cs-left-justify {
    text-align: left !important;
}