#myTable, #myHeaderTable{
    width:35%;
}
#myTable, #myTable td, #myTable tr, #myHeader, #myHeaderTable tr {
    border-bottom: 2px solid black;
    padding: 10px;
    font-size: 15px;
}
th{
    text-align:center;
}
#myTable td, #myTable tr, #myHeader, #myHeaderTable tr{
    text-align: center;
}
#TopTable td{
    padding-left:40px;
    padding-top:10px;
}

.tooltip-1  {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-1 .tooltiptext-1 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip-1 .tooltiptext-1::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip-1:hover .tooltiptext-1 {
    visibility: visible;
}

.tooltip-2  {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-2 .tooltiptext-2 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip-2 .tooltiptext-2::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip-2:hover .tooltiptext-2 {
    visibility: visible;
}

.tooltip-3  {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-3 .tooltiptext-3 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip-3 .tooltiptext-3::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip-3:hover .tooltiptext-3 {
    visibility: visible;
}

.tooltip-4  {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-4 .tooltiptext-4 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip-4 .tooltiptext-4::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip-4:hover .tooltiptext-4 {
    visibility: visible;
}


.tooltip-5  {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-5 .tooltiptext-5 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip-5 .tooltiptext-5::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip-5:hover .tooltiptext-5 {
    visibility: visible;
}



.tooltip-6  {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-6 .tooltiptext-6 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltip-6 .tooltiptext-6::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -6px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip-6:hover .tooltiptext-6 {
    visibility: visible;
}




.tooltip-7  {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-7 .tooltiptext-7 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -70px;
}

.tooltip-7 .tooltiptext-7::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -7px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip-7:hover .tooltiptext-7 {
    visibility: visible;
}




.tooltip-8  {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-8 .tooltiptext-8 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -80px;
}

.tooltip-8 .tooltiptext-8::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -8px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip-8:hover .tooltiptext-8 {
    visibility: visible;
}




.tooltip-9  {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-9 .tooltiptext-9 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -90px;
}

.tooltip-9 .tooltiptext-9::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -9px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip-9:hover .tooltiptext-9 {
    visibility: visible;
}




.tooltip-10  {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-10 .tooltiptext-10 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -100px;
}

.tooltip-10 .tooltiptext-10::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip-10:hover .tooltiptext-10 {
    visibility: visible;
}




.tooltip-11  {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-11 .tooltiptext-11 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -110px;
}

.tooltip-11 .tooltiptext-11::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -11px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip-11:hover .tooltiptext-11 {
    visibility: visible;
}




.tooltip-12  {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-12 .tooltiptext-12 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -120px;
}

.tooltip-12 .tooltiptext-12::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -12px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip-12:hover .tooltiptext-12 {
    visibility: visible;
}




.tooltip-13  {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-13 .tooltiptext-13 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -130px;
}

.tooltip-13 .tooltiptext-13::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -13px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip-13:hover .tooltiptext-13 {
    visibility: visible;
}




.tooltip-14  {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-14 .tooltiptext-14 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -140px;
}

.tooltip-14 .tooltiptext-14::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -14px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip-14:hover .tooltiptext-14 {
    visibility: visible;
}




.tooltip-15  {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-15 .tooltiptext-15 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -150px;
}

.tooltip-15 .tooltiptext-15::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -15px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip-15:hover .tooltiptext-15 {
    visibility: visible;
}




.tooltip-16  {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-16 .tooltiptext-16 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -160px;
}

.tooltip-16 .tooltiptext-16::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -16px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip-16:hover .tooltiptext-16 {
    visibility: visible;
}




.tooltip-17  {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-17 .tooltiptext-17 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -170px;
}

.tooltip-17 .tooltiptext-17::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -17px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip-17:hover .tooltiptext-17 {
    visibility: visible;
}




.tooltip-18  {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-18 .tooltiptext-18 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -180px;
}

.tooltip-18 .tooltiptext-18::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -18px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip-18:hover .tooltiptext-18 {
    visibility: visible;
}




.tooltip-19  {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-19 .tooltiptext-19 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -190px;
}

.tooltip-19 .tooltiptext-19::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -19px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip-19:hover .tooltiptext-19 {
    visibility: visible;
}




.tooltip-20  {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-20 .tooltiptext-20 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -200px;
}

.tooltip-20 .tooltiptext-20::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -20px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip-20:hover .tooltiptext-20 {
    visibility: visible;
}




.tooltip-21  {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-21 .tooltiptext-21 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -210px;
}

.tooltip-21 .tooltiptext-21::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -21px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip-21:hover .tooltiptext-21 {
    visibility: visible;
}




.tooltip-22  {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-22 .tooltiptext-22 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -220px;
}

.tooltip-22 .tooltiptext-22::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -22px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip-22:hover .tooltiptext-22 {
    visibility: visible;
}



.tooltip-23  {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-23 .tooltiptext-23 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -230px;
}

.tooltip-23 .tooltiptext-23::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -23px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip-23:hover .tooltiptext-23 {
    visibility: visible;
}




.tooltip-24  {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-24 .tooltiptext-24 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -240px;
}

.tooltip-24 .tooltiptext-24::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -24px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip-24:hover .tooltiptext-24 {
    visibility: visible;
}



.tooltip-25  {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-25 .tooltiptext-25 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -250px;
}

.tooltip-25 .tooltiptext-25::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -25px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip-25:hover .tooltiptext-25 {
    visibility: visible;
}

